form{
  width: 500px;
  margin: 30px auto;
  text-align: center;

}

form input{
  margin-bottom: 5px;
}

form input[type='button']{
  margin-right: 10px;
}

.login-button {
  background-color: #4CAF50; /* Cor de fundo do botão */
  border: none; /* Remove a borda */
  color: white; /* Cor do texto */
  padding: 5px 15px; /* Espaçamento interno do botão */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove o sublinhado do texto */
  display: inline-block; /* Define o botão como um elemento em linha */
  font-size: 16px; /* Tamanho do texto */
  margin: 4px 2px; /* Margem entre o botão e outros elementos */
  cursor: pointer; /* Transforma o cursor em uma mãozinha quando o mouse está sobre o botão */
  border-radius: 5px; /* Arredonda os cantos do botão */
}

/* Estilos para quando o cursor estiver sobre o botão */
.login-button:hover {
  background-color: #3e8e41; /* Cor de fundo do botão quando o cursor estiver sobre ele */
}


.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button {
  width:150px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 6px 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0069d9;
}